# {{ ansible_managed }}
# Firewall rules for ssh service
{% set ipt = '/usr/sbin/iptables' %}
{% set ch = 'in_ssh' %}
{% set in_rule = '-p tcp --dport ' ~ ssh_port ~ ' -m conntrack --ctstate NEW -j ' ~ ch %}

[Service]
# Setup ref to chain
ExecStartPre=!-{{ ipt }} -N {{ ch }}
ExecStartPre=!{{ ipt }} -F {{ ch }}
ExecStartPre=!-{{ ipt }} -D INPUT {{ in_rule }}
ExecStartPre=!{{ ipt }} -A INPUT {{ in_rule }}

{% for addr in ssh_whitelist | ipv4 %}
ExecStartPre=!{{ ipt }} -A {{ ch }} -s {{ addr }} -j ACCEPT
{% endfor %}
{% for rule in ssh_extra_iptables %}
ExecStartPre=!-{{ ipt }} -A {{ ch }} {{ rule }}
{% endfor %}

# Cleanup: unref, flush, delete
ExecStopPost=!-{{ ipt }} -D INPUT {{ in_rule }}
ExecStopPost=!-{{ ipt }} -F {{ ch }}
ExecStopPost=!-{{ ipt }} -X {{ ch }}

{% if ssh_whitelist | ipv6 %}
{% set ip6t = '/usr/sbin/ip6tables' %}

# IPv6
ExecStartPre=-!{{ ip6t }} -N {{ ch }}
ExecStartPre= !{{ ip6t }} -F {{ ch }}
ExecStartPre=-!{{ ip6t }} -D INPUT {{ in_rule }}
ExecStartPre= !{{ ip6t }} -A INPUT {{ in_rule }}

{% for addr in ssh_whitelist | ipv6 %}
ExecStartPre= !{{ ip6t }} -A {{ ch }} -s {{ addr }} -j ACCEPT
{% endfor %}

ExecStopPost=-!{{ ip6t }} -D INPUT {{ in_rule }}
ExecStopPost=-!{{ ip6t }} -F {{ ch }}
ExecStopPost=-!{{ ip6t }} -X {{ ch }}

{% endif %}
