## /etc/ssh/sshd_config
# SSH server config
# {{ ansible_managed }}

Port {{ ssh_port }}

# See https://cipherli.st/
KexAlgorithms curve25519-sha256@libssh.org,diffie-hellman-group-exchange-sha256
Ciphers chacha20-poly1305@openssh.com,aes256-gcm@openssh.com,aes256-ctr
MACs hmac-sha2-512-etm@openssh.com,hmac-sha2-256-etm@openssh.com,hmac-sha2-512,hmac-sha2-256

HostKey /etc/ssh/ssh_host_ed25519_key
HostKey /etc/ssh/ssh_host_rsa_key
#RevokedKeys /etc/ssh/krl

AuthenticationMethods publickey
PasswordAuthentication no
ChallengeResponseAuthentication no
UsePAM yes

PermitRootLogin no
StrictModes yes

LoginGraceTime 30
MaxAuthTries 4
MaxStartups 4:25:10

TCPKeepAlive no
ClientAliveInterval 60
ClientAliveCountMax 5

PermitTunnel yes
X11Forwarding no
PrintMotd yes
PrintLastLog yes
AcceptEnv LANG LC_*

Subsystem sftp internal-sftp
